@model IEnumerable<ShopSphere.DatabaseModels.Product>

<h2 class="mb-4">Our Products </h2>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">

            <div class="card h-100 shadow-sm">

                <img src="@item.ProductImages.FirstOrDefault()?.ImageUrl"
                     class="card-img-top"
                     style="height:200px; object-fit:cover;" />

                <div class="card-body">

                    <h5 class="card-title">
                        @item.ProductName
                    </h5>

                    <p class="text-success fw-bold">
                        ₹@item.Price
                    </p>

                    <p class="text-muted">
                        @(item.Description?.Length > 50
                            ? item.Description.Substring(0, 50) + "..."
                            : item.Description)
                    </p>

                    <div class="d-flex justify-content-between">

                        <a asp-action="Details"
                           asp-route-id="@item.ProductId"
                           class="btn btn-info btn-sm">
                            View
                        </a>

                        <a asp-controller="Cart"
                           asp-action="AddToCart"
                           asp-route-productId="@item.ProductId"
                           class="btn btn-success btn-sm">
                            Add 
                        </a>

                    </div>

                </div>
            </div>

        </div>
    }

</div>