@model ShopSphere.DatabaseModels.Cart

<h2>Your Cart </h2>

@if (Model.CartItems == null || !Model.CartItems.Any())
{
    <p>Your cart is empty.</p>
}
else
{
    decimal grandTotal = 0;

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.CartItems)
            {
                var total = item.UnitPrice * item.Quantity;
                grandTotal += total;

                <tr>
                    <td>@item.Product.ProductName</td>
                    <td>@item.UnitPrice</td>
                    <td>
                        <a asp-action="Decrease" asp-route-id="@item.CartItemId">-</a>
                        @item.Quantity
                        <a asp-action="Increase" asp-route-id="@item.CartItemId">+</a>
                    </td>
                    <td>@total</td>
                    <td>
                        <a asp-action="Remove" asp-route-id="@item.CartItemId">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3>Total: @grandTotal</h3>

    <a asp-controller="Order" asp-action="PlaceOrder" class="btn btn-success">
        Checkout
    </a>
}